@media screen and (min-device-width: 360px) and (max-device-width: 1024px) {
    .quick{
        display: none;
    }
    .cv{
        float: left;
    }
    
}

@media screen and (min-device-width: 220px) and (max-device-width: 1024px)
{
    .carousel-item img {
        height: 550px !important;
    }
}
